body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.logo {
    display: grid;
    margin: px;
    font-size: 24px;
    font-weight: bold;
    color: #004B87; /* Adjust color as per your design */
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
    margin: 10px;

}

.nav li {
    margin-right: 30px;
    cursor: pointer;
}

.nav li:hover {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF; /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Darken button on hover */
}
#website{
    background-color:transparent;
    color: rgb(20, 4, 4);border-color: transparent;
    font-size: 18px;
}